ul,
#instructions {
  text-align: left;
}

img {
  max-width: calc(100% - 4rem);
}

section button {
  font-size: 1.2rem;
  margin: 1rem;
  background-color: blue;
  color: white;
  padding: 0.5rem 2rem;
}

section button[disabled] {
  background-color: lightgray;
}
